body {
  margin: 5% 10%;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.head-text{
  font-weight: bold;
}

.body-text{
  text-align: justify;
  text-justify: inter-word;
}

.select-box{
  display: inline-block;
}

.seperator{
  display: inline-block;
  padding: 0px 15px;
}

.text-element{
  display: inline-block;
  padding-left: 15px;
}

.error-description{
  margin-top: 10px;
  font-weight: bold;
  color: red;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
